@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #c2d6ff;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 50;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #5895e4;
  top: 39%;
  left: 6%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -8vw 23vh;
  box-shadow: 2vmin 0 1.1129448982542098vmin currentColor;
}
.background span:nth-child(1) {
  color: #5895e4;
  top: 4%;
  left: 98%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 7vw -1vh;
  box-shadow: 2vmin 0 0.8749230473883409vmin currentColor;
}
.background span:nth-child(2) {
  color: #5895e4;
  top: 14%;
  left: 55%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 12vw -7vh;
  box-shadow: 2vmin 0 0.7545477655229322vmin currentColor;
}
.background span:nth-child(3) {
  color: #5895e4;
  top: 12%;
  left: 12%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -15vw -13vh;
  box-shadow: -2vmin 0 0.28777243056725954vmin currentColor;
}
.background span:nth-child(4) {
  color: #5895e4;
  top: 73%;
  left: 19%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 9vw -9vh;
  box-shadow: 2vmin 0 1.0079215928511867vmin currentColor;
}
.background span:nth-child(5) {
  color: #5895e4;
  top: 37%;
  left: 55%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 4vw -19vh;
  box-shadow: 2vmin 0 0.7459884816129421vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 64%;
  left: 44%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -13vw -13vh;
  box-shadow: -2vmin 0 1.0477897878983495vmin currentColor;
}
.background span:nth-child(7) {
  color: #f0f0f0;
  top: 94%;
  left: 83%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -11vw -3vh;
  box-shadow: -2vmin 0 0.7741697636992992vmin currentColor;
}
.background span:nth-child(8) {
  color: #f0f0f0;
  top: 6%;
  left: 50%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -1vw 9vh;
  box-shadow: 2vmin 0 0.36496994022839724vmin currentColor;
}
.background span:nth-child(9) {
  color: #f0f0f0;
  top: 25%;
  left: 87%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -4vw -18vh;
  box-shadow: -2vmin 0 0.4746431647503011vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 13%;
  left: 36%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -10vw 12vh;
  box-shadow: -2vmin 0 0.4985269051360315vmin currentColor;
}
.background span:nth-child(11) {
  color: #583c87;
  top: 71%;
  left: 95%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 23vw 17vh;
  box-shadow: 2vmin 0 1.1574150094366766vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 54%;
  left: 44%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw -9vh;
  box-shadow: -2vmin 0 1.240466559279167vmin currentColor;
}
.background span:nth-child(13) {
  color: #583c87;
  top: 72%;
  left: 22%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -15vw 17vh;
  box-shadow: 2vmin 0 0.7027847238364104vmin currentColor;
}
.background span:nth-child(14) {
  color: #f0f0f0;
  top: 71%;
  left: 10%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 19vw 22vh;
  box-shadow: 2vmin 0 0.7394884015935412vmin currentColor;
}
.background span:nth-child(15) {
  color: #f0f0f0;
  top: 4%;
  left: 63%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw -3vh;
  box-shadow: -2vmin 0 0.7194154935230563vmin currentColor;
}
.background span:nth-child(16) {
  color: #f0f0f0;
  top: 15%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -22vw -19vh;
  box-shadow: -2vmin 0 0.589791092905293vmin currentColor;
}
.background span:nth-child(17) {
  color: #5895e4;
  top: 4%;
  left: 34%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -3vw 4vh;
  box-shadow: -2vmin 0 0.4973057226784501vmin currentColor;
}
.background span:nth-child(18) {
  color: #583c87;
  top: 74%;
  left: 61%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 6vw -19vh;
  box-shadow: 2vmin 0 0.5595113974820891vmin currentColor;
}
.background span:nth-child(19) {
  color: #583c87;
  top: 89%;
  left: 12%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw 0vh;
  box-shadow: -2vmin 0 0.3356111035458591vmin currentColor;
}
.background span:nth-child(20) {
  color: #583c87;
  top: 85%;
  left: 85%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -1vw -10vh;
  box-shadow: -2vmin 0 1.1907287539737479vmin currentColor;
}
.background span:nth-child(21) {
  color: #583c87;
  top: 2%;
  left: 7%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -13vw -18vh;
  box-shadow: 2vmin 0 0.7926195459194811vmin currentColor;
}
.background span:nth-child(22) {
  color: #583c87;
  top: 5%;
  left: 59%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 9vw 10vh;
  box-shadow: -2vmin 0 0.6202874511419287vmin currentColor;
}
.background span:nth-child(23) {
  color: #583c87;
  top: 85%;
  left: 68%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -8vw 5vh;
  box-shadow: -2vmin 0 0.7442973481956896vmin currentColor;
}
.background span:nth-child(24) {
  color: #5895e4;
  top: 97%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw 21vh;
  box-shadow: 2vmin 0 0.442350885764627vmin currentColor;
}
.background span:nth-child(25) {
  color: #5895e4;
  top: 9%;
  left: 80%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw -17vh;
  box-shadow: 2vmin 0 0.28596664169378316vmin currentColor;
}
.background span:nth-child(26) {
  color: #f0f0f0;
  top: 79%;
  left: 68%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 8vw -5vh;
  box-shadow: -2vmin 0 0.26745555010438204vmin currentColor;
}
.background span:nth-child(27) {
  color: #5895e4;
  top: 42%;
  left: 45%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw 10vh;
  box-shadow: -2vmin 0 0.5626656317479457vmin currentColor;
}
.background span:nth-child(28) {
  color: #f0f0f0;
  top: 44%;
  left: 47%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 25vw 25vh;
  box-shadow: -2vmin 0 1.1398426168784972vmin currentColor;
}
.background span:nth-child(29) {
  color: #f0f0f0;
  top: 24%;
  left: 71%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -7vw -17vh;
  box-shadow: -2vmin 0 0.9165539559173308vmin currentColor;
}
.background span:nth-child(30) {
  color: #5895e4;
  top: 24%;
  left: 46%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 12vw 20vh;
  box-shadow: -2vmin 0 0.5924969982156398vmin currentColor;
}
.background span:nth-child(31) {
  color: #583c87;
  top: 36%;
  left: 33%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -17vw -22vh;
  box-shadow: -2vmin 0 0.5915362176817376vmin currentColor;
}
.background span:nth-child(32) {
  color: #f0f0f0;
  top: 36%;
  left: 44%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -3vw -19vh;
  box-shadow: 2vmin 0 0.7681952640214513vmin currentColor;
}
.background span:nth-child(33) {
  color: #5895e4;
  top: 69%;
  left: 83%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 10vw 25vh;
  box-shadow: 2vmin 0 0.4284407489767248vmin currentColor;
}
.background span:nth-child(34) {
  color: #583c87;
  top: 98%;
  left: 32%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -19vw -14vh;
  box-shadow: 2vmin 0 0.6054282710707477vmin currentColor;
}
.background span:nth-child(35) {
  color: #f0f0f0;
  top: 52%;
  left: 72%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw 16vh;
  box-shadow: -2vmin 0 0.7769830722281288vmin currentColor;
}
.background span:nth-child(36) {
  color: #5895e4;
  top: 63%;
  left: 9%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 8vw 3vh;
  box-shadow: -2vmin 0 0.622619563836273vmin currentColor;
}
.background span:nth-child(37) {
  color: #f0f0f0;
  top: 78%;
  left: 86%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw -2vh;
  box-shadow: -2vmin 0 0.8906971405145072vmin currentColor;
}
.background span:nth-child(38) {
  color: #583c87;
  top: 92%;
  left: 39%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw -3vh;
  box-shadow: 2vmin 0 0.3260838933244705vmin currentColor;
}
.background span:nth-child(39) {
  color: #f0f0f0;
  top: 54%;
  left: 56%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -8vw 10vh;
  box-shadow: -2vmin 0 0.7180166104153851vmin currentColor;
}
.background span:nth-child(40) {
  color: #583c87;
  top: 55%;
  left: 87%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -13vw 7vh;
  box-shadow: -2vmin 0 0.9110990997533779vmin currentColor;
}
.background span:nth-child(41) {
  color: #5895e4;
  top: 11%;
  left: 61%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 6vw 16vh;
  box-shadow: -2vmin 0 0.6890210065622102vmin currentColor;
}
.background span:nth-child(42) {
  color: #f0f0f0;
  top: 79%;
  left: 15%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -2vw -20vh;
  box-shadow: -2vmin 0 0.4420603890448258vmin currentColor;
}
.background span:nth-child(43) {
  color: #f0f0f0;
  top: 1%;
  left: 76%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw -16vh;
  box-shadow: -2vmin 0 1.1127489150152334vmin currentColor;
}
.background span:nth-child(44) {
  color: #583c87;
  top: 14%;
  left: 60%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -7vw 25vh;
  box-shadow: -2vmin 0 1.2272545528460472vmin currentColor;
}
.background span:nth-child(45) {
  color: #f0f0f0;
  top: 76%;
  left: 20%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -13vw 9vh;
  box-shadow: 2vmin 0 1.05374435718342vmin currentColor;
}
.background span:nth-child(46) {
  color: #583c87;
  top: 44%;
  left: 9%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 11vw -11vh;
  box-shadow: 2vmin 0 0.35660838057140953vmin currentColor;
}
.background span:nth-child(47) {
  color: #583c87;
  top: 69%;
  left: 50%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw -8vh;
  box-shadow: -2vmin 0 0.8096096237361692vmin currentColor;
}
.background span:nth-child(48) {
  color: #583c87;
  top: 14%;
  left: 43%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -7vw 24vh;
  box-shadow: -2vmin 0 0.6953407373677241vmin currentColor;
}
.background span:nth-child(49) {
  color: #5895e4;
  top: 14%;
  left: 75%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw -12vh;
  box-shadow: 2vmin 0 0.5870797893734483vmin currentColor;
}
