*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #c8f3dd ;
}

.question-number{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #FBF6E9;
  width: 500px;
  padding: 1rem;
  border-radius: 10px;
}

.layout-container{
  padding: 1rem;
  background-color: #5DB996;
  gap: 10px;
  width: 550px;
  height: 330px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5); */
}

.answer{
  padding: 1rem;
  background-color: #FBF6E9;
  width: 500px;
  border-radius: 10px;
}
.answer ul li{
  list-style: none;
  margin: 10px;
}
.answer ul li input{
  margin-inline: 10px;
}

.answer ul li span{
  cursor: pointer;
}

.alphabet{
  margin-right: 10px;
}
.content-label{
  display: flex;
  align-items: center;
}
.content-label input{
  height: 30px;
}
.checkbox{
  appearance: none;
  width: 28px;
  height: 25px;
  border-radius: 10px;
  accent-color: #5DB996;
  cursor: pointer;
  border: 2px solid black;
}

.checkbox:checked{
  background-color: #5DB996;
  position: relative;
}
.checkbox:checked::after{
  content: '✔'; /* Ikon centang */
  color: white;
  font-size: 14px;
  position: absolute;
  top: 2px;
  left: 7px;
}

.reset-button{
  width: 200px;
  padding: 5px;
  border: none;
  background-color: #FBF6E9;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.reset-button:hover{
  background-color: lightpink;
}

.submit-button{
  width: 200px;
  padding: 5px;
  border: none;
  background-color: #FBF6E9;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.submit-button:hover{
  background-color: lightpink;
}
.footer{
  display: flex;
  gap: 10px;
}